
#wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#upper {
  -webkit-font-smoothing: antialiased;
}
#tot-wrap {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 23vh;
  z-index: 10;
}
#mixer_wrap {
  width: 60vw;
  margin-top: 2vh;
  padding: 1.2rem;
  background: linear-gradient(180deg, rgba(80, 18, 83, 0.6) 0%, rgba(49, 25, 73, 0.8) 100%);
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#mixer {
  height: 4rem;
}

button {
  font-family: 'road-rage', cursive;
  border: 1px solid #fe7d68;
  height: 5rem;
  box-shadow: 1px 0px 30px 0px rgb(37, 6, 45);
  color: #ffffff;
  width: 100%;
  font-size: 3rem;
  background: rgb(249,46,144);
  background: linear-gradient(180deg, rgb(249, 213, 2) 00%, rgb(249, 35, 145) 100%);
  color: #ffffff;
}

#pour {
  margin-right: 15px;
}

#pour:focus {
  outline: 0 !important;
}

#pour::-moz-focus-inner {
  border: 0;
}

/* Slider config */
.bg_transparent {
  background: transparent !important;
  border: 0 !important;
  height: 100% !important;
  top: 0% !important;

}
.bg_transparent:focus {
  outline: 0 !important;
}

.bg_transparent::-moz-focus-inner {
  border: 0;
}

.slider-range {
  background: linear-gradient(180deg, rgb(249, 213, 2) 0%, rgb(249, 35, 145) 100%) !important;
  border: 0 !important;
  filter: url(#glow);
  -webkit-filter: url(#glow);
  -moz-filter: url(#glow);
  -o-filter: url(#blurFilter);
  -ms-filter: url(#glow);
}

#hdl {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%); 
  background: transparent;
    filter: url(#glow);
  -webkit-filter: url(#glow);
  -moz-filter: url(#glow);
  -o-filter: url(#blurFilter);
  -ms-filter: url(#glow);
}

#hdl_img {
  height: 125%;

}

